.empPortColor {
	color: #D3D3D3 !important;
}

@-moz-document url-prefix() {
	.modal-dialog.requestFormDialog {
		padding: 5% !important;
	}
}
.heightFull{
	height: 100% !important;
  }
  .account-wrap .account-top.answerQuestion p:not(.error-hint){
    color: #fff;
}
.form-group:not(.has-error) .help-block {
    display: none!important;
}