.step-wizard > ul.step-anchor > li a {
  cursor: default;
}

.step-wizard > ul.step-anchor > li.done a, .step-wizard > ul.step-anchor > li.active a {
  cursor: pointer;
}

.step-wizard h4 {
  margin-top: 20px;
  font-size: 22px;
}

.step-wizard .form-group {
  margin-bottom: 25px;
}

.step-wizard .form-group .form-control-feedback.fa {
  top: 15px !important;
}

.step-wizard .form-group.form-group-password .form-control-feedback.fa {
  right: auto;
  left: 177px;
}

.step-wizard .step-anchor {
  position: relative;
  border: 0 !important;
  list-style: none;
  border: 0;
  z-index: 9;
}

.step-wizard .step-anchor:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #f5f5f5;
  border-radius: 3px;
  z-index: 10;
}

.step-wizard .step-anchor::before {
  top: 45px;
}

.step-wizard .step-anchor li a {
  border: 0;
}

.step-wizard .step-anchor li a:hover, .step-wizard .step-anchor li a:active, .step-wizard .step-anchor li a:focus {
  cursor: default;
  background: transparent;
  border: 0;
}

.step-wizard .step-anchor li a .step-number {
  font-size: 15px;
  font-weight: bold;
}

.step-wizard .step-anchor li a :after {
  content: ' ';
  position: relative;
  left: 40%;
  bottom: 9px;
  margin-top: 10px;
  display: block;
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  border-radius: 50%;
  z-index: 20;
  border: 8px solid #f5f5f5;
}

.step-wizard .step-anchor li .done ::after {
  background: #fff9f5;
}

.step-wizard .step-anchor li:last-child a :after {
  left: 30%;
}

.validate-list {
  margin-left: 20px;
  font-size: 13px;
  color: #666;
  margin-top: 7px;
}

.validate-list li {
  list-style: disc;
}

.validate-list ol {
  margin-left: 20px;
}

.validate-list ol li {
  list-style: circle;
}

.validate-list li.noneStyle {
  list-style: none;
}

.form-group-password .input-group.icon-group .form-control {
  border-radius: 15px;
}

.form-group-password .input-group.icon-group .left-icon, .form-group-password .input-group.icon-group .input-group-addon {
  z-index: 9;
}

.icon-group {
  position: relative;
}

.icon-group .left-icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon-group .form-control {
  padding-left: 30px;
}

.icon-group {
  position: relative;
}

.icon-group .input-group-addon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  width: 30px;
  padding-left: 0;
  padding-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .form-horizontal .control-label-title {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}

.flexInline {
  display: flex;
  align-items: center;
}

.flexInline.between {
  justify-content: space-between;
}

.flexInline.alignTop {
  align-items: flex-start;
}

.flexInline.justifyEnd {
  justify-content: flex-end;
}

.flexInline.flexWrap {
  flex-wrap: wrap;
}

.flexInline input[type='checkbox'],
.flexInline input[type='radio'] {
  margin: 0;
  margin-right: 5px;
}

.flexInline label,
.flexInline .label {
  flex: 0 0 auto;
  min-height: 1px;
  margin: 0;
  margin-right: 10px;
}

.flexInline label:empty,
.flexInline .label:empty {
  display: block;
}

.flexInline label.m-b-10,
.flexInline .label.m-b-10 {
  margin-bottom: 10px;
}

.flexInline .form-group {
  margin-bottom: 10px;
}

.step-wizard .step-anchor::before {
  background-color: #414042;
}

.step-wizard .step-anchor li a {
  color: #414042;
}

.step-wizard .step-anchor li .active {
  color: #d9534f;
  background: transparent !important;
}

.step-wizard .step-anchor li .active ::after {
  background-color: #d9534f;
}

.step-wizard .tab-content > .active {
  background: transparent !important;
}

.loginBody {
  height: auto !important;
  background: url(/CommonWebPortals/images/EmployeePortal/AscendarBkGrndLogin.png) no-repeat center center fixed !important;
  background-size: cover !important;
  padding-top: 0 !important;
}

.loginBody .langSelect .langSelectInner a {
  cursor: pointer;
  color: #fff;
  border: 0 !important;
  background: none !important;
}

.loginBody .langSelect .langSelectInner a:hover {
  background: none;
}

.loginBody .langSelect .langSelectInner a::after {
  color: #fff;
}

.loginBody .langSelect .langSelectInner .dropdown-menu {
  max-width: 110px;
  min-width: 110px;
}

.loginBody .langSelect .langSelectInner .dropdown-menu a {
  color: #000 !important;
}

.loginBody .tab-content > .tab-pane {
  margin-top: 0;
}

.loginBody .grayBg {
  background: #021116;
}

.loginBody .login-footer .col-md-8, .loginBody .login-footer .col-md-4 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .loginBody .login-footer .col-md-8 {
    width: 66.66666667%;
  }
  .loginBody .login-footer .col-md-4 {
    width: 33.33333333%;
  }
}

.loginBody .btn-new {
  border-color: #3281a5;
  background-color: #3281a5;
  background: #3281a5;
  box-shadow: 0px 0px 0px #3281a5;
  border-width: 1px;
}

.loginBody .btn-new:hover {
  background: #3281a5;
}

.loginBody #btn_submit,
.loginBody #btn_submit2 {
  border-color: #3281a5;
  background-color: #3281a5;
  background: #3281a5;
  box-shadow: 0px 0px 0px #3281a5;
}

.loginBody p.error-hint {
  color: #ea2623;
}

.loginBody .tab-pane.active {
  opacity: 1 !important;
}

@media (min-width: 992px) {
  .loginBody #loginBackForm {
    width: 280px;
  }
}

.loginBody .btn.btn-login {
  border-color: #3281a5;
  background-color: #3281a5;
  background: #3281a5;
  box-shadow: 0px 0px 0px #3281a5;
  border-width: 1px;
  width: 100% !important;
}

.loginBody .nav-tabs > li {
  margin-bottom: 0;
}

.has-hint-box .input-hint-message {
  border-color: #3281a5;
}

@media (min-width: 992px) {
  .has-hint-box .input-hint-message:before {
    border-right-color: #3281a5;
  }
}

@media (max-width: 991px) {
  .has-hint-box .input-hint-message:before {
    border-bottom-color: #3281a5;
  }
}

.step-wizard .step-anchor.account-common-step .nav-item .nav-link.active {
  color: #3281a5;
}

.step-wizard .step-anchor.account-common-step .nav-item .nav-link.active ::after {
  background-color: #3281a5;
}

.langSelect ul li {
  float: left;
}

.langSelect ul li a {
  color: #ffffff !important;
}

.langSelect ul li a:hover {
  background: none;
}

a:focus {
  outline: none;
}

.loginBody .login-footer {
  padding: 15px 10px;
}
