strong
{
	font-weight: bold;
}
em
{
	font-style: italic;
}

.hidden
{
	display: none;
}

.stu_dimensions
{
	height: 560px;
	width: 1165px;
	overflow: auto;
}

/************************/
/* Errors				*/
/************************/

.errorsDiv
{
	margin-top: 10px;
	margin-left: 10px;
	color: red;
}

.errorInput
{
	background-color: #ff9999;
}

/*************************/
/*	Disabled Textbox	 */
/*************************/

.disabledTextbox
{
	border-style:solid;
	border-color:#AAA;
	border-width:1px;
	
	height:16px;
	width:auto;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 1px;
	
	background-color:#ffffff;
	color:#666666;
	
	empty-cells: show;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

/*************************/
/*	Nice Table		 */
/*************************/

.niceTable td
{
	border-spacing: auto;
	border-collapse: separate;
	border-width: 0px;
	padding: 4px;
	
	vertical-align: top;
	text-align: left;
}

.gridTable td
{
	border: 1px solid lightgray;
	padding-left: 20px;
	padding-right: 20px;
}

/*************************/
/*   Drop-down related   */
/*************************/

.dropDownTable
{
	/*display: inline;*/	
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;	
}

.dropDownTextField
{
	width: 20px;
	vertical-align: bottom;
}


/*************************/
/*   Tables              */
/*************************/

.employeeAccessTable
{
	margin: 0px;
	padding: 0px;
}
.employeeAccessTable th
{
	border: 1px solid #888;
	background-color: lightgrey;
}
.employeeAccessTable td
{
	border: 1px solid black;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	padding: 0px 5px;
}

.tableButtonsDiv div
{
	float: left;
	margin-right: 30px;
}

.selectedRow td
{
	background-color: lightblue;
	cursor: pointer;
}
.disabledRow td
{
	background-color:#cccccc;color:#666666;
}
.unselectedRow
{
	cursor: pointer;	
}
.hoverRow td
{
	background: linear-gradient(#C5E9F7, #71C2E9);
	cursor: pointer;
}

fieldset {
	background: #E1E6EB none repeat scroll 0 0;
	border: 1px solid gray;
	padding: 5px;
}

/*************************/
/*   Student Directory   */
/*************************/
#searchCriteriaDiv div
{
	float: left;
}

/******************************/
/*       misc                 */
/******************************/
#mainDiv
{
	margin: 0 10px 10px 10px;
}
#studentSelectionDiv 
{
	float: left;
}
#studentSelectionDiv div
{
	float: left;
}
#jqtabs
{
	clear: both;
	margin: 0 5px;		
}
#studentInfoDiv
{
	width: 50%; 
	float: right; 
	margin-right: 5px;
}
#studentNameSpan
{
	float: left; 
	font-weight: bold;
}
#campusNameSpan
{	
	float: right;
}

/*************************************/
/*   Detail pane for District Level  */
/*************************************/
.detailDiv
{	
	clear: both;
	border: 1px solid lightgrey;
	
	padding: 20px 10px 10px 10px;	
	width: 600px;
	height: 165px;
}
.detailRowDiv
{
	width: 750px;
	height: 40px;
}
.detailRowDiv div
{
	float: left;
	text-align: right;
}
.detailRowDiv div input
{
	background-color: white;
}
.detailRowDiv div select
{
	background-color: white;
}
.labelDiv
{
	width: 75px; 
}
.codeDiv
{
	width: 475px;
}
.codeDiv input
{
	width: 442px;
}
.codeDiv select
{
	width: 450px;
}

/*************************************/
/*   Detail Pane for Letters Print   */
/*************************************/

table { padding: 0px; margin: 0px; }
div { padding: 0px; margin: 0px; }

.report { margin-left: 16px;}

/* For the Query Label, Fields, and Buttons on Tab 1 */
.queryBar div {
	float: left;
}

.queryField {
	width: 100px;
	padding: 0px;
	margin: 1px;
}
		
.labelField {
	font-size: 8px;
	width: 10px;
	padding: 0px;
	margin: 1px;
}


/* For the Date Selection fields and popup calendar image on Tab 2 */
.dateSelection {
	float: left;
	margin-right: 10px;
}

.dateSelection div {
	float: left;
}

/* For the student list table on Tab 1 */
.studentListTable
{
	background-color: white;
}

.studentListTable th
{
	width: 100px;
	white-space: nowrap;
}

.studentListTable td
{
	width: 100px;
	white-space: nowrap;
}

.studentListTableDiv
{
	/*width: 815px;*/
	height: 300px;
	overflow: scroll;
	border: 1px solid black;			
	/* float: left; */
}			

.lettersDetailDiv
{	
	clear: both;
	border: 1px solid lightgrey;
	
	padding: 20px 10px 10px 10px;	
	width: 600px;
	
}
.lettersDetailRowDiv
{
	width: 850px;
	height: 40px;
}
.lettersDetailRowDiv div
{
	float: left;
	text-align: right;
}
.lettersDetailRowDiv div input
{
	background-color: white;
}
.lettersDetailRowDiv div select
{
	background-color: white;
}
.lettersLabelDiv
{
	width: 115px; 
}
.lettersCodeDiv
{
	width: 475px;
}
.lettersCodeDiv input
{
	width: 430px;
}

/********************************/
/*  sub tab formating           */
/********************************/

.subtabStyle div.subLeft
{
	background-color: #012958; 
	color: white; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-bottom: 4px
}

.subtabStyle div.subCenter
{
	background-color: #012958; 
	color: white; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-bottom: 4px;
	padding-top: 2px;
	height: 18px
}

.subtabStyle div.subRight
{
	background-color: #012958; 
	color: white; 
	padding-bottom: 4px
}

.subtabStyle div.subCenter td{
	padding-left: 8px; 
	padding-right: 8px
}

.tabs .tab_list td.popup_c {
	background: url('/CommonWeb/images/tabs_bkg_sprites.gif') 0 -136px;
}

.tabs .tab_list td.popup_l {
	width: 12px;
	background: url('/CommonWeb/images/tabs_sprites.gif') -20px -80px;
}

.tabs .tab_list td.popup_ll {
	width: 20px;
	background: url('/CommonWeb/images/tabs_sprites.gif') 0 -80px;
}

.tabs .tab_list td.popup_r {
	width: 12px;
	background: url('/CommonWeb/images/tabs_sprites.gif') -32px -80px;
}

.tabs table.tab_list {
	height: 40px;
}

.tabs .top {
	height: 40px;
}
 	
.tabs .tab_list td.item, .tabs .tab_list td.active {
	padding: 7px 4px 0 4px;
}

.tabs .left_subtab {
	background: url('/CommonWeb//images/tabs_vert_sprites.gif') -94px 0;
}

.tabs .right_subtab {
	background: url('/CommonWeb//images/tabs_vert_sprites.gif') -112px 0;
}

.hover_subtab, .selected_subtab {
	background-color: #F9F9F9; 
	color: black;
}

.selected_subtab a.hover_group_trigger {
	color: black;
}

.hover_group_trigger 
{
	color: white;
}

a.hover_group_trigger:hover
{
	color:black;
}
	
/* table styles */

.selected {
	background-color: #ffffff;
	text-align: left;
}

table.tabular {
	margin-left: 1px;
	margin-right: 1px;
}

table.tabular th {
	font-size:12px;
}

table.tabular td {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #BDBDBD;
}

table.tabular_footer_buttons td
{
	border-width: 0px;
}

/* group box overrides */

.groupBox
{
	padding : 0px;
}