/* #createEditRequestsDialogDiv {left: 0px !important;top: 0px !important;height: 200px;overflow: hidden;min-width: 640px;white-space: nowrap;margin: 0px;} */
#createEditRequestsDialogDiv input[type=checkbox] {text-align: center;vertical-align: middle;}

.popup_dialog_div {left: 0px !important;top: 0px !important;overflow: hidden;white-space: nowrap;margin: 0px;}

.request_dialog_buttons_div {width: 100%;margin: 10px 10px 10px 10px;}

th.leaverequest {
  padding: 2px 8px 2px 8px !important;
  white-space: nowrap !important;
  border-right: 1px solid white;
}

td.leaverequest {
	padding: 2px 8px 2px 8px !important;
}

td.leaverequestButton {
	padding: 2px !important;
}

#createEditRequestsTable {
	width: 100%;
}

#createEditRequestsTable td {
	padding: 2px 6px 2px 6px !important;
	text-align: center;
}

#createEditRequestsTable button.tableButton,
#submittedRequestsTable button.tableButton {
	min-width: 60px;
	margin: 4px 0px 4px 0px;
	height: 24px;
}

td.available_balances {
  text-align: right;
}

.hover-container {
    position: static;
}

.hover-container:hover {
    position: relative;
    cursor: context-menu;
}

.hover-content {
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;
    z-index: 1000;
    padding: 5px 5px 5px 5px;
    background: white;
    overflow: auto;
	white-space: pre;
    max-width: 300px;
    max-height: 300px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
/*     cursor: text;  ... unfortunately applies to the shape of the cursor when it is on the div's scrollbar */
   
}

.hover-container:hover .hover-content {
    display: block;
}

.hoverCommentDiv {
	position: fixed;
    display: none;
    z-index: 1000;
    padding: 5px 5px 5px 5px;
    background: white;
    overflow: auto;
	white-space: pre;
    max-width: 300px;
    max-height: 160px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.leaveTypeDetailDiv  {
	position: fixed;
    z-index: 1000;
    padding: 5px 5px 5px 5px;
    background: white;
    overflow: auto;
	white-space: pre-wrap;
    max-width: 300px;
    max-height: 160px;
    border-width: 1px;
    border-color: black;
    border-style: solid;	
    cursor: pointer;	
}

.leaveBalancesDetailDiv  {
	position: fixed;
    z-index: 1000;
    padding: 5px 5px 5px 5px;
    background: white;
    overflow: auto;
    border-width: 1px;
    border-color: black;
    border-style: solid;	
    cursor: pointer;
    padding: 10px;
}

.tooltipError {
		font-weight: normal !important;
		background: #FAE3E3 !important;
		color: #B60000 !important;
		border-color: #B60000 !important;
		border-width: 1px !important;
		margin: 0 !important;
		padding: 2px 4px 2px 4px !important;
}

img.calendarIcon
{
	margin:0px 0px 0px 0px; 
	text-decoration: none;
	display:inline;
	height: 22px;
	padding: 5px 0px 5px 5px;
}

.ui-state-highlight.fc-today {
    background: #f6f8fd !important;
    border-color: #a0ddf6 !important;
} 

.fc-event {
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif !important;
}

/* #calendar div.fc-toolbar { */
/* 	background: red; */

/* } */
/* #calendar div.fc-center { */
/* 	height: 2.1em; */
/* 	line-height: 2.1em; */
/* 	display: inline-flex; */
/* 	align-items: center; */
/* 	background: yellow; */
	
/* } */
/* #calendar div.fc-toolbar h2 { */
/* 	background: blue; */
	
/* } */

#calendarPlugin div.fc-center {
	height: 2.1em;
	line-height: 2.1em;
	display: inline-flex;
	align-items: center;
}

.deleteRowIndicated {
	background-color:#e28088 !important;
}

/* prevent the Calendar from occluding the Employee Access drop down menus */
div.fc-view-container {
	position: relative;
	z-index: 0;
}

/* styling for the filter requests section of the supervisor Leave Overview screen */
.manage_requests_filterbox {
	border-style: solid;
	border-color: #A0DDF6;
	border-width: 1px 1px 1px 1px;
	display: inline-table;
	padding: 0px 5px 0px 10px;
	margin: 0px 0px 0px 20px;
}

div.supervisorHierarchyDiv {
	padding: 10px 0px 0px 0px;
	margin: 0px;
	white-space: nowrap;
}

h3#unprocessedLeaveRequestsHeading {
	padding: 10px 0px 0px 0px;
}