<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <bean id="dataSource1" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
          p:driverClass="com.sybase.jdbc4.jdbc.SybDriver"
          p:jdbcUrl="jdbc:sybase:Tds:127.0.0.1:2638/rsccc"
          p:user="rsccc"
          p:password="password"
          p:maxPoolSize="40"
          p:minPoolSize="2"
          p:initialPoolSize="2"
          p:maxIdleTime="30"
    />
    <bean id="dataSource2" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
          p:driverClass="com.sybase.jdbc4.jdbc.SybDriver"
          p:jdbcUrl="jdbc:sybase:Tds:127.0.0.1:2639/demo"
          p:user="dba"
          p:password="sql"
          p:maxPoolSize="40"
          p:minPoolSize="2"
          p:initialPoolSize="2"
          p:maxIdleTime="30"
    />
    <bean class="com.esc20.util.DynamicDataSource" id="dataSource">
		<property name="targetDataSources">
		<map key-type="java.lang.String">
		  <entry value-ref="dataSource1" key="rsccc"></entry>
		  <entry value-ref="dataSource2" key="demo"></entry>
		</map>
		</property>
		<property name="defaultTargetDataSource" ref="dataSource1"></property>
	</bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="configLocation" value="classpath:hibernate.cfg.xml"/>-->
        <property name="packagesToScan">
            <list>
                <value>com.esc20</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
            	spring.jpa.database-platform=org.hibernate.dialect.SybaseAnywhereDialect
            	hibernate.dialect = org.hibernate.dialect.SybaseAnywhereDialect
				hibernate.jdbc.batch_size = 50
				hibernate.connection.autocommit = true
				hibernate.hbm2ddl.auto = update
				hibernate.show_sql = true
				hibernate.connection.useUnicode = true
				hibernate.connection.characterEncoding = UTF-8
				hibernate.cache.use_query_cache = false
				hibernate.temp.use_jdbc_metadata_defaults = false
            </value>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="create*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="remove*" propagation="REQUIRED" />
            <tx:method name="del*" propagation="REQUIRED" />
            <tx:method name="import*" propagation="REQUIRED" />
            <tx:method name="*" propagation="NOT_SUPPORTED"/>
        </tx:attributes>
    </tx:advice>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <aop:config proxy-target-class="true">
        <aop:pointcut expression="execution(* *..service..*Service*.*(..))" id="serviceMethod" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" />
    </aop:config>
</beans>